nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  left: 0;
  top: 0;
  background-color: cornflowerblue;
}
.nav-greetings1 {
  width: auto;
  height: 40px;
  margin: 10px 0px 0px 17px;
  font-size: 150%;
  color: #eeeeee;
  background-color: cornflowerblue;
  border-color: aliceblue;
  border-bottom-width: 5px;
}
.flex1 {
  display: flex;
  flex-direction: row;
}
.flex2 {
  display: flex;
  text-align: right;
}
.input-field {
  height: 20px;
  width: 130px;

  border-radius: 3px;
}
.labels {
  display: inline-block;
  vertical-align: center;

  width: 80%;
  height: 30px;

  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 7px;
  background-color: cornflowerblue;
}
.text1 {
  width: 500px;
  text-align: center;
  margin: auto;
  padding-top: 60px;
}

.text2 {
  max-width: 300px;
  min-width: 290;
  text-align: center;
  margin: auto;
  padding: auto;
}
.flex3 {
  text-align: center;
  margin: auto;
  width: 600px;
  display: flex;
}
.grid1 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
}
.grid-greyscale {
  grid-column-start: 2;
  color: yellowgreen;
}
